
/* ----COMMON & UTILITIES */
.bkg-green {
  background: #31BB9D;
}

.color-white {
  color: white;
}

h1, h2 {
  text-transform: uppercase;
}

/* ----STYLE */
/* ----nav */
.my-nav {
  height: 80px;
  background: #2d3e4f;
}

/* ----jumbotron */
#header .my-img-width {
  width: 250px;
}

#header p {
  padding: 10px 0;
  font-size: 24px;
  letter-spacing: 1.9px;
  font-weight: 500;
  text-transform: uppercase;
}

/* ----portfolio */
#portfolio img {
  margin-top: 30px;
}

/* ----about */
