
/* ----COMMON & UTILITIES */
.bkg-green {
  background: #31BB9D;
}

.color-white {
  color: white;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
}

h3 {
  font-weight: 400;
}

.fa-star {
  vertical-align: middle;
  line-height: 4px;
  padding: 0 20px;
}

.star-container {
  font-size: 30px;
}

.star-container::before, .star-container::after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 2px;
  vertical-align: middle;
}

.star-container.dark::before, .star-container.dark::after {
  background-color: #333333;
  color: #333333;
}

.star-container.light::before, .star-container.light::after {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

/* ----STYLE */
/* ----nav */
.my-nav {
  height: 80px;
  background: #2d3e4f;
}

/*
nav li:hover color:1abc9c;
togliere .active
 */

/* ----jumbotron */
#header .my-img-width {
  width: 250px;
}

#header p {
  padding: 20px 0 10px;
  font-size: 24px;
  letter-spacing: 1.9px;
  font-weight: 400;
  text-transform: uppercase;
}

/* ----portfolio */
#portfolio {
  padding-bottom: 70px;
}

#portfolio img {
  margin-top: 30px;
}

/* ----about */
#about .row {
  margin-top: 20px;
}

#about .btn {
  background: transparent;
  border: 1px solid white;
}

/* ----form */
#form .row {
  margin-top: 20px;
  margin-bottom: 70px;
}

#form form label {
  font-size: 24px;
  color: #52606E;
  font-weight: normal;
}

#form form input, #form form .message {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid lightgrey;
  margin-top: -5px;
}

#form form [for="message"] {
  margin-top: 10px;
}

/* ----social */
footer {
  background: #3b546c;
}

#social {
  padding: 50px 10px;
}

#social .social-container {
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#social .social-container::after {
  content: "";
  display: table;
  clear: both;
}

#social .social-icon {
  border: 1px solid lightgrey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 5px;
  line-height: 50px;
  float: left;
}

#social i {
  padding: 10px;
  font-size: 19px;
}

#social p, #social address {
  font-size: 19px;
}

#social p span {
  color: #31BB9D;
}

/* ----copyright */
#copyright {
  height: 100px;
  background: #2d3e4f;
  line-height: 100px;
}
